.ico-treasure-1-mini {
    display: block;
    background: url("/assets/result-parts.png") no-repeat 0 -2229px;
    -webkit-background-size: 294px 2686px;
    background-size: 294px 2686px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 10
}

.ico-treasure-2-mini {
    display: block;
    background: url("/assets/result-parts.png") no-repeat 0 -2343px;
    -webkit-background-size: 294px 2686px;
    background-size: 294px 2686px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 10
}

.ico-treasure-3-mini {
    display: block;
    background: url("/assets/result-parts.png") no-repeat 0 -2275px;
    -webkit-background-size: 294px 2686px;
    background-size: 294px 2686px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 10
}

.ico-treasure-4-mini {
    display: block;
    background: url("/assets/result-parts.png") no-repeat 0 -2252px;
    -webkit-background-size: 294px 2686px;
    background-size: 294px 2686px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 10
}

.ico-treasure-11-mini {
    display: block;
    background: url("/assets/result-parts.png") no-repeat 0 -2115px;
    -webkit-background-size: 294px 2686px;
    background-size: 294px 2686px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 10
}

.ico-treasure-13-mini {
    display: block;
    background: url("/assets/result-parts.png") no-repeat 0 -2447px;
    -webkit-background-size: 294px 2686px;
    background-size: 294px 2686px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 10
}

.ico-treasure-16-mini {
    display: block;
    background: url("/assets/result-parts.png") no-repeat 0 -2366px;
    -webkit-background-size: 294px 2686px;
    background-size: 294px 2686px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 10
}
